


    <input type="text" [(ngModel)]="name" name="name" placeholder="Name.." required>
    <input type="text" [(ngModel)]="phone" name="phone" placeholder="Phone Number.." required>
    <input type="email" [(ngModel)]="email" name="email" placeholder="Email.." required>
    <textarea [(ngModel)]="message" name="message" placeholder="Message.." required></textarea>
  
    <input class="submit" type="submit" value="Add a Contact" (click)="addContact()">

  <h1>Contacts:</h1>


  <ul *ngFor="let contact of contacts | async">
    <li (click)="getContact(contact.id)">
        <strong>{{ contact.data.name}}</strong> (<a href="#" (click)="deleteContact(contact.id)">delete</a>)
      <br>
      {{contact.data.phone}}
      <br>
      {{contact.data.email}}
      <br>
      <i>{{contact.data.message}}</i>
    </li>
  </ul>
